<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/d2d9d0e374.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Jobbies</title>
</head>

<body>
    <header>
        <h2>
            <a href="/">
                <i class="fab fa-react"></i>
                Jobbies</a>
        </h2>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/jobs">All jobs</a>
                </li>
                <li class="apply">
                    <span>Employer?</span>
                </li>
                <li>
                    <a href="/add" class="btn btn-reverse">Post a Job for Free</a>
                </li>
            </ul>
        </nav>
    </header>
    {{{body}}}

    <script src="js/main.js"></script>
</body>
</html>