
    <section id="search" class="search-wrap">
        <h1>Find A Coding Job</h1>
        <form action="/search" class="search-form" method="POST">
            <i class="fas fa-search"></i>
            <input type="search" name="term" placeholder="Javascript, PHP, Rails, etc..." class="term-search">
            <i class="fas fa-map-marker-alt search-icon"></i>
            <input type="search" name="location" placeholder="Location" class="location-search">
    
            <input type="submit" value="Search">
        </form>
    </section>
